<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181188258120-rdueme0ugkofub6ue5ann63afgivgqtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181188258120-rdueme0ugkofub6ue5ann63afgivgqtg</string>
	<key>API_KEY</key>
	<string>AIzaSyC92p33tZeUBkGfmHWtZk5oIg8SkMyUbs0</string>
	<key>GCM_SENDER_ID</key>
	<string>181188258120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.org.xadefinance</string>
	<key>PROJECT_ID</key>
	<string>xadefinance</string>
	<key>STORAGE_BUCKET</key>
	<string>xadefinance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181188258120:ios:fe63f80c54e6428f8f6b7d</string>
</dict>
</plist>