<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>260df770-44b4-4afd-a408-0a9f2b9944a9</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>c2HUrCSv7ymat5zCKhD41B9BA8bsRIFJgAXM0Jlm</string>
	<key>PROJECT_APP_UUID</key>
	<string>2ca6fbe3-044b-4ef1-8527-b29f11123a3c</string>
</dict>
</plist>
